:root {
    /* #014c8f */
    --primary-background-color: #fff;
    --primary-background-color__list: #fafafa;
    --primary-background-color__item: #fff;
    --primary-background-color__footer: #12181f;
    --primary-background-color__form: rgba(255, 255, 255, 0.519);
    --primary-color__text: #111821;
    --primary-color__text__heading: #111821;
    --primary-color__text-while: #fff;
    --primary-color__navbar: #fff;
    --primary-color__text__footer: #aba8ac;
    --primary-color__btn: #000;
    --primary-color__text__price: #c92027;
    --primary-color__price-new: #b8b8b8;
    --primary-color__stick-after: #000;
    --primary-color__strong: #000;
    --primary-color__text__btn: #fff;
    --primary-color__btn-hover: #000;
    --primary-boxShadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
    --primary-boxShadow__item: 0 0 6px 0 rgba(0, 0, 0, 0.2);
    --primary-boxShadow__navbar: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    --primary-boxShadow__form: 0 2px 100px rgba(0, 0, 0, 0.3);
    --primary-boxShadow__product: 0 4px 8px #787878;
    --primary-fontsize-desc: 1.3rem;
    --primary-fontsize-footer: 1.4rem;
    --primary-fontsize-body: 1.6rem;
    --primary-fontsize-btn__large: 2rem;
    --primary-fontsize-heading: 2.3rem;
    --primary-fontsize-icon: 2.5rem;
    --primary-fontsize__heading-sign: 3rem;
    --primary-fontsize-input: 1.6rem;
    --primary-fontsize-message: 1.4rem;
    --primary-opacity-btn__active: 0.8;
    --primary-opacity__desc: 0.6;
    --primary-opacity__heading: 0.7;
    --primary-font-weight__bold: 700;
    --primary-font-weight__footer: 300;
    --primary-font-weight__text: 400;
    --primary-border-radius__btn: 15px;
    --primary-border-radius__item: 5px;
    --primary-border-radius__input: 10px;
    --primary-border-radius__form: 25px;
    --primary-border-radius__input_btn: 10px;
    --primary-border: 1px solid #ccc;
    --primary-flex-gap: 15px;
}