.toastMsg-wrap {
    position: fixed;
    top: 100px;
    right: 50px;
    display: none;
}
.active{
    display: block;
}
.toastMsg {
    width: auto;
    height: 100px;
    background-image: linear-gradient(to bottom right, #72db6d, #42f444);
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    justify-content: space-around;
    gap: 15px;
    padding: 15px;
    align-items: center;
    transform: all linear 0.3s;
    display: flex;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.toastMsg__icon-wrap {
    position: relative;
}
.toastMsg__icon::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 80px;
    right: -7.5px;
    top: -30px;
    background-color: #fefefe;
    opacity: 0.5;
}

.toastMsg__icon,
.toastMsg__heading {
    color: #fefefe;
}
.toastMsg__icon {
    font-size: 2.5rem;
}

.list-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 50px;
    column-gap: 20px;
}
.item-product {
    border: 1px solid #ccc;
    border-radius: 10px;
    min-height: 600px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
}

.item-product__img {
    width: 100%;
    max-height: 490px;
    object-fit: cover;
}
.item-product__heading {
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 10px;
    font-size: 2.5rem;
}
.item-product__code {
    opacity: 0.7;
    font-weight: 500;
    margin-left: 5px;
}
.item-product__price {
    margin-top: 10px;
    margin-left: 5px;
    color: var(--primary-color__text__price);
    font-weight: bold;
}

.item-product__author {
    margin-top: 5px;
    margin-left: 5px;
}

.item-product__other-btn {
    display: block;
    width: 100%;
    background-color: var(--primary-color__background__footer);
    color: var(--primary-color__text-while);
    border: none;
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.item-product__other-btn:active {
    opacity: 0.8;
}
