footer{
    background-color: var(--primary-color__background__footer);
    width: 100%;
    position: absolute;
    bottom: -390px;
}
footer * {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.8rem;
}

.footer{
    padding-top: 52px;
    padding-bottom: 32px;
}

.list-footer{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.logo-footer{
    max-width: 135px;
}

.item-footer__center{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    flex-wrap: nowrap;
    gap: 100px;
}

.item-footer__center-content ul{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 10px;
    gap: 15px;
}

.item-footer__center-label{
    font-size: 1.8rem;
    font-weight: 700;
}
.item-footer__left{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 20px;
}

.icon-footer{
    font-size: 3rem;
}

.icon-footer:first-child{
    margin-right: 10px;
}
.item-footer__desc{
    margin-bottom: 15px;
    
}

.list-footer__bottom{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin-top: 20px;
}

.item-footer__bottom-desc{
    font-size: 1rem;
    color: var(--primary-color__text__footer);
    text-transform: uppercase;
}

.list-footer__bottom a:hover{
    text-decoration: underline;
}

.item-footer__bottom-center ul{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.item-footer__bottom-right ul{
    display: flex;
    gap: 15px;
}

