header{
    z-index: 999;
    background-color: var(--primary-color__background);
    box-shadow:0 0 10px 0 rgba(0,0,0,.2);
    position: fixed;
    width: 100%;
    top: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: inherit;
}

/* .header-wrap{
    margin: 0 20px;
} */

ul{
    display: flex;
    align-items: center;
}
.logo-pages{
    height: 55px;
    margin-left: -10px;
}
.item-page{
    padding:10px;
    margin: 0 10px;
    position: relative;
}

.item-page a{
    padding-top: 20px;
    padding-bottom: 20px;
}

.item-page:after{
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    bottom: -15px;
    left: 0;
    background-color: #000;
    transition: width 300ms ease-in-out;
}
.item-page:hover::after{
    width: 100%;
}

.item-page__action{
    padding: 8px 5px;
    margin: 0 5px;
}
.icon-cart:active{
    opacity: 0.6;
}
.btn__signUp{
    border: 2px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}
.item-label{
    padding: 5px;
}



.btn__signUp:active{
    background-color: #ccc;
}
