@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    --primary-color__background: #fff;
    --primary-color__text: #111821;
    --primary-color__navbar: #fff;
    --primary-color__text__footer: #aba8ac;
    --primary-color__background__footer: #12181f;
    --primary-color__btn: orange;
    --primary-color__text__price:#c92027;
}

html{
    font-size: 62.5%;
}
*{
    text-decoration: none;
    list-style: none;
    color: var(--primary-color__text);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto',sans-serif;
    font-size: 1.6rem;
    min-height: 100vh;
    position: relative;   
}

.container{
    max-width: calc(100vw - 200px);
    margin-left: auto;
    margin-right: auto;
}

main{
    margin-top: 70px;
}

